/output
/data
*.suo
*.user
/sources/Common/Debug
/sources/Engine/Debug
/sources/Core/Debug
/sources/.metadata
/sources/Common/build/
/sources/Common/dist/
/sources/Core/build/
/sources/Core/dist/
/sources/DropCopy/build/
/sources/DropCopy/dist/
/sources/Engine/build/
/sources/Engine/dist/
/sources/EngineService/build/
/sources/EngineService/dist/
/sources/PyApi/build/
/sources/PyApi/dist/
/sources/Interaction/Fake/build/
/sources/Interaction/Fake/dist/
/sources/PyApi/Python/.idea
/sources/ipch
*.pyc
/sources/*.opensdf
/sources/*.sdf
*.aps
/sources/EngineServer/build/
/sources/EngineServer/dist/
/sources/Strategies/Test/build/
/sources/Strategies/Test/dist/
*.log
/sources/Interaction/OnixFixEngine/build/
/sources/Interaction/OnixFixEngine/dist/
/sources/Interaction/OnixsFixConnector/build/
/sources/Interaction/OnixsFixConnector/dist/
/sources/Strategies/FxMb/build/
/sources/Strategies/FxMb/dist/
/sources/Interaction/OnixsHotspot/build/
/sources/Interaction/OnixsHotspot/dist/
/sources/Interaction/Itch/build/
/sources/Interaction/Itch/dist/
