/output
/externals
/data
/doc
*.suo
*.user
/sources/Common/Debug
/sources/Engine/Debug
/sources/Core/Debug
/sources/.metadata
/sources/Common/build/
/sources/Common/dist/
/sources/Core/build/
/sources/Core/dist/
/sources/Engine/build/
/sources/Engine/dist/
/sources/Interaction/Lightspeed/build/
/sources/Interaction/Lightspeed/dist/
/sources/PyApi/build/
/sources/PyApi/dist/
/sources/Interaction/Enyx/build/
/sources/Interaction/Enyx/dist/
/sources/Interaction/Fake/build/
/sources/Interaction/Fake/dist/
/sources/Gateway/Service/build/
/sources/Gateway/Service/dist/
