<!doctype html>

{% load staticfiles %}

<head>

	<meta charset="utf-8">

	<link href="{{ MEDIA_URL }}css/vader/jquery-ui-1.10.3.custom.css" rel="stylesheet">
	<script src="{{ MEDIA_URL }}js/jquery-1.9.1.js"></script>
	<script src="{{ MEDIA_URL }}js/jquery-ui-1.10.3.custom.js"></script>

	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/base.css">

	<script>

		function showServicesError(text) {
			$('#errorText').html(text)
			$('#error').show()
		}

		function getCsrfToken() {
			return document.getElementsByName('csrfmiddlewaretoken')[0].value
		}

	</script>

	{% block app_head %}{% endblock %}

</head>
<body>

	{% csrf_token %}

	<div id="body" style="display: inline-table;">

		<div id="appBody">
			{% block app_body %}{% endblock %}
		</div>

		<div id="error" style="display: none; margin-top: 35px;">
			<div class="ui-state-error ui-corner-all" style="padding: 0 .7em;">
				<p><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
				<span id="errorText"></span>
			</div>
		</div>

	</div>

</body>