BasedOnStyle: Google

BinPackParameters: false

IncludeCategories:
  - Regex:           '^"Prec\.h(pp)?"$'
    Priority:        -2

  - Regex:           '^<boost/.+>'
    Priority:        351

  - Regex:           '^"Common\.h(pp)?"$'
    Priority:        1

  - Regex:           '^".+/Common\.h(pp)?"$'
    Priority:        2

  - Regex:           '^"Common/Common.hpp"$'
    Priority:        3

  - Regex:           '^"Common/Fwd.hpp"$'
    Priority:        299

  - Regex:           '^"Common/.+"$'
    Priority:        201

  - Regex:           '^"TradingLib/Fwd.hpp"$'
    Priority:        109

  - Regex:           '^"TradingLib/.+"$'
    Priority:        101

  - Regex:           '^"Core/Fwd.hpp"$'
    Priority:        119

  - Regex:           '^"Core/.+"$'
    Priority:        111

  - Regex:           '^"Interaction/Fwd.hpp"$'
    Priority:        159

  - Regex:           '^"Interaction/.+"$'
    Priority:        151

  - Regex:           '^"Services/Fwd.hpp"$'
    Priority:        169

  - Regex:           '^"Services/.+"$'
    Priority:        161

  - Regex:           '^"Engine/Fwd.hpp"$'
    Priority:        179

  - Regex:           '^"Engine/.+"$'
    Priority:        171

  - Regex:           '^"Strategies/Fwd.hpp"$'
    Priority:        189

  - Regex:           '^"Strategies/.+"$'
    Priority:        181

  - Regex:           '^"(.+/)?Fwd\.h(pp)?"$'
    Priority:        199

  - Regex:           '^".+"$'
    Priority:        191

  - Regex:           '^<odb/pre.hxx>$'
    Priority:        401

  - Regex:           '^<odb/post.hxx>$'
    Priority:        403

  - Regex:           '^<odb/.+>$'
    Priority:        402

  - Regex:           '^<[^.]+\.h[p]*>$'
    Priority:        411

  - Regex:           '^<[^.]+>$'
    Priority:        499

IncludeIsMainRegex: '$'
Standard:        Cpp11