
{% extends 'base.html' %}

{% block app_head %}

<script>

	function onError(xhr, textStatus, errorThrown) {
		if (xhr.status == 0) {
			return
		}
		errorStr = '<div style="margin-bottom: 20px;">' + xhr.status
		errorStr += ": " + errorThrown + "</div>"
		errorStr
			+= '<div style="margin-bottom: 20px;">' + textStatus + "</div>"
		errorStr += "<div>" +  xhr.responseText + "</div>"
		showServicesError(errorStr)
	}

</script>

{% endblock %}

{% block app_body %}

	<div id="newStrategyDialog" title="New Strategy">
		<table>
			<tr>
				<td style="text-align: right;">Account:</td>
				<td colspan="3"><input id="newStrategyAccount" value="DU175288"></td>
			</tr>
			<tr>
				<td style="text-align: right;">Symbols:</td>
				<td><input id="newStrategySymbol1"></td>
				<td><input id="newStrategySymbol2"></td>
				<td>ex.: USD.EUR</td>
			</tr>
			<tr>
				<td style="text-align: right;">Trade Size:</td>
				<td colspan="2"><input id="newStrategyTradeSize" type="number"></td>
				<td>(in base)</td>
			</tr>
		</table>
	</div>
	<script>
		$('#newStrategyDialog').find("input").each(
			function() {
				$(this)
					.addClass("ui-autocomplete-input")
					.addClass("ui-widget-content")
					.addClass("ui-corner-all")
				if ($(this).attr("id") == "newStrategySymbol1" || $(this).attr("id") == "newStrategySymbol2") {
					$(this).width(65)
				} else {
					$(this).width(135)
				}
			})
		$('#newStrategyDialog').find("td").each(
			function() {
				$(this).css({
					verticalAlign: "middle",
					whiteSpace: "nowrap"})
			})
		$('#newStrategyDialog').dialog({
			modal: true,
			width: 335,
			buttons: [
				{
					text: "Ok",
					click:
						function() {
							if ($("#newStrategyAccount").val() == "") {
								alert("Please provide Account")
								return
							}
							if ($("#newStrategySymbol1").val() == "") {
								alert("Please provide Symbol 1")
								return
							}
							if ($("#newStrategySymbol2").val() == "") {
								alert("Please provide Symbol 2")
								return
							}
							$.ajax({
								type: "POST",
								url: "services/addStrategy",
								data: {
									csrfmiddlewaretoken: getCsrfToken(),
									account: $("#newStrategyAccount").val(),
									symbol1: $("#newStrategySymbol1").val(),
									symbol2: $("#newStrategySymbol2").val(),
									tradeSize: $("#newStrategyTradeSize").val()
								},
								error: onError,
								complete:
									function() {
										$("#createNewStrategy").button("enable")
										$("#newStrategyDialog").dialog("close")
									}
							})
						}
				},
				{
					text: "Cancel",
					click:
						function() {
							$("#createNewStrategy").button("enable")
							$(this).dialog("close")
						}
				}
			]
		})
		$('#newStrategyDialog').dialog("close")
	</script>

	<div
			style="
				margin: 15px;
				padding: 15px;
				border: black 1px solid;
				background-color: #2b2b2b;
				overflow: hidden;
				min-width: 600px;">
		<div style="float: left; font-size: 150%;">
			Interactive Brokers:
			<span id="connectionState" style="color: gray; font-weight: bold;">connection state unknown</span>
		</div>
		<div style="float: right;">
			<button id="createNewStrategy">New Strategy...</button>
			<button id="refresh">Refresh</button>
			<script>
				$("#createNewStrategy").button().click(
					function() {
						$("#createNewStrategy").button("disable")
						$('#newStrategyDialog').dialog("open")
					})
				$("#refresh").button().button("disable").click(
					function() {
						$("#refresh").button("disable")
						theService.scheduleFullUpdate()
					})
			</script>
		</div>
	</div>

	<div id="strategies"></div>

	<table
			id="strategyTemplate"
			style="
				border: black 1px solid;
				background-color: #2b2b2b;
				margin: 15px;
				padding: 15px;
				display: none;">
		<tr>
			<td colspan="5">
				<table
						name="account"
						style="
							border: black 1px solid;
							margin: 0px;
							padding: 15px;
							text-align: right;">
					<tr>
						<td>Account: <input type="text" name="account"></td>
						<td>&nbsp;</td>
						<td>Trade: <input type="text" name="tradeNumber"></td>
					</tr>
					<tr>
						<td>Balance: <input type="text" name="balance"></td>
						<td>&nbsp;</td>
						<td>Base Currency: <input type="text" name="baseCurrency"></td>
					</tr>
				</table>
			</td>
			<td colspan="6" align="right">
				<table
						style="
							border: black 1px solid;
							margin: 0px;
							padding: 15px;
							text-align: right;">
					<tr>
						<td>Profit Target: <input type="text" name="profitTarget"></td>
						<td rowspan="2">&nbsp;</td>
						<td rowspan="2" style="vertical-align: middle; text-align: left;">Total P/L:<br><input type="text" name="totalPl"></td>
						<td rowspan="2">&nbsp;</td>
						<td>
							<button name="closeAll" style="white-space: nowrap">Close All</button><br>
						</td>
					</tr>
					<tr>
						<td>Stop Loss: <input type="text" name="stopLoss"></td>
						<td><button name="delete" style="white-space: nowrap">Delete</button></td>
					</tr>
				</table>
			</td>
		</tr>
		<tr><td colspan="11">&nbsp;</td></tr>
		<tr name="head">
			<td>Symbol</td>
			<td></td>
			<td>Trade Size</td>
			<td>Trade Size<br>in Base</td>
			<td>Bid</td>
			<td>Ask</td>
			<td>Spread</td>
			<td>Filled Price</td>
			<td>P/L</td>
			<td>P/L in Base</td>
			<td></td>
		</tr>
		<tr id="symbolTemplate">
			<td><input name="symbol"></td>
			<td><button name="open"></button></td>
			<td><input name="tradeSize"></td>
			<td><input name="tradeSizeInBase"></td>
			<td><input name="bid"></td>
			<td><input name="ask"></td>
			<td><input name="spread"></td>
			<td><input name="filledPrice"></td>
			<td><input name="pl"></td>
			<td><input name="plInBase"></td>
			<td><button name="close"></button></td>
		</tr>
	</table>

	<script>

		var strategies = new function() {

			var self = this

			self.strategiesCount = 0

			this.add = function(
					uid,
					account,
					baseCurrency,
					tradeSize,
					tradeSizeInBase,
					symbol1,
					symbol2) {

				var strategy = $("#strategyTemplate").clone()
				strategy.attr("id", uid)
				strategy.find("input").each(
					function() {
						$(this)
							.addClass("ui-autocomplete-input")
							.addClass("ui-widget-content")
							.addClass("ui-corner-all")
							.prop("readonly", true)
						id = $(this).attr("id")
						if (id == "balance") {
							$(this).width(85)
						} else {
							$(this).width(65)
						}
					})
				strategy.find("button").each(
					function() {
						$(this).button()
						name = $(this).attr("name")
						if (name != "closeAll" && name != "delete") {
							$(this).width(60)
						} else {
							$(this).width(100).addClass("sell")
							if ($(this).attr("name") == "delete") {
								$(this).attr("id", uid)
								$(this).button().click(
									function() {
										$.ajax({
											type: "POST",
											url: "services/deleteStrategy",
											data: {
												csrfmiddlewaretoken: getCsrfToken(),
												strategyUid: $(this).attr("id")
											},
											error: onError
										})
								})
							}
						}
					})
				strategy.find("tr[name='head']").find("td").each(
					function() {
						$(this).css(
							{textAlign: "center",
							verticalAlign: "bottom"})
					})

				var strategySymbol1 = strategy.find("#symbolTemplate")
				strategySymbol1.attr("id", "")
				strategySymbol1
					.find("[name='close']")
					.addClass("sell")
					.html("Close")

				var strategySymbol2 = strategySymbol1.clone()
				strategySymbol1.after(strategySymbol2)

				strategySymbol1.attr("name", "symbol1")
				strategySymbol2.attr("name", "symbol2")

				strategySymbol1
					.find("[name='open']")
					.addClass("buy")
					.html("Buy")
					.attr("x", uid)
					.click(
						function() {
							theService.buy($(this).attr("x"), 1)
						})
				strategySymbol2
					.find("[name='open']")
					.addClass("sell")
					.html("Sell")
					.attr("x", uid)
					.click(
						function() {
							theService.sell($(this).attr("x"), 2)
						})

				strategySymbol1
					.find("[name='close']")
					.attr("x", uid)
					.click(
						function() {
							theService.closePosition($(this).attr("x"), 1)
						})
				strategySymbol2
					.find("[name='close']")
					.attr("x", uid)
					.click(
						function() {
							theService.closePosition($(this).attr("x"), 2)
						})

				strategySymbol1
					.find("[name='closeAll']")
					.attr("x", uid)
					.click(
						function() {
							theService.closeAllPositions($(this).attr("x"))
						})
				strategySymbol2
					.find("[name='closeAll']")
					.attr("x", uid)
					.click(
						function() {
							theService.closeAllPositions($(this).attr("x"))
						})

				strategySymbol1.find("[name='symbol']").val(symbol1)
				strategySymbol2.find("[name='symbol']").val(symbol2)

				strategy.find("[name='account']").val(account)
				strategy.find("[name='tradeNumber']")
					.val(self.strategiesCount + 1)
				strategy.find("[name='baseCurrency']").val(baseCurrency)
				strategy.find("[name='tradeSize']").val(tradeSize)
				strategy.find("[name='tradeSizeInBase']").val(tradeSizeInBase)

				$("#strategies").append(strategy)
				++self.strategiesCount
				strategy.show()

			}

			this.clear = function() {
				$("#strategies").html("")
				self.strategiesCount = 0
			}

			this.update = function(
					uid,
					symbol1Info,
					symbol2Info) {
				function update(info, symbol) {
					symbol.find("[name='ask']").val(info.ask)
					symbol.find("[name='bid']").val(info.bid)
					symbol.find("[name='spread']").val(info.spread)
					if (info.fPrice) {
						symbol.find("[name='filledPrice']").val(info.fPrice)
					}
				}
				var strategy = $("#strategies").find("#" + uid)
				update(symbol1Info, strategy.find("[name='symbol1']"))
				update(symbol2Info, strategy.find("[name='symbol2']"))
			}

		}

		var theService = new function() {

			var self = this

			this.start = function() {
				self._requestStateUpdate()
			}

			this.scheduleFullUpdate = function() {
				self._isFullUpdateRequired = true
			}

			this.buy = function(strategyUid, symbol) {
				self._sendOrder("buy", strategyUid, symbol)
			}

			this.sell = function(strategyUid, symbol) {
				self._sendOrder("sell", strategyUid, symbol)
			}

			this.closePosition = function(strategyUid, symbol) {
				self._sendOrder("closePosition", strategyUid, symbol)
			}

			this.closeAllPositions = function(strategyUid) {
				self._sendOrder("closeAllPositions", strategyUid, "")
			}

			this._sendOrder = function(order, strategyUid, symbol) {
				var request = {
					type: "POST",
					url: "services/" + order,
					data: {
						csrfmiddlewaretoken: getCsrfToken(),
						strategyUid: strategyUid,
						symbol: symbol},
					error: onError}
				$.ajax(request)
			}

			this._onStateUpdate = function(data) {
				if ('fullUpdate' in data && data.fullUpdate) {
					strategies.clear()
				}
				if ('connection' in data) {
					self._onConnectionStateUpdate(data.connection)
				}
				if ('newStrategies' in data) {
					data.newStrategies.forEach(self._onNewStrategy)
				}
				if ('strategies' in data) {
					data.strategies.forEach(self._onStrategyUpdate)
				}
				if ('balance' in data) {
					$("[name='balance']").each(
						function() {
							$(this).val(data.balance)
						})
				}
				if ('fullUpdate' in data && data.fullUpdate) {
					$("#refresh").button().button("enable")
					self._isFullUpdateRequired = false
				}
			}

			this._requestStateUpdate = function() {
				var request = {
					type: "POST",
					url: "services/getState",
					data: {csrfmiddlewaretoken: getCsrfToken()},
					success: self._onStateUpdate,
					error: onError,
					complete:
						function() {
							setTimeout(self._requestStateUpdate, 1000)
						}}
				if (self._isFullUpdateRequired) {
					request.data.fullUpdate = true
				}
				$.ajax(request)
			}

			this._onConnectionStateUpdate = function(isConnected) {
				$("#connectionState")
					.css({color: connectionState ? "green" : "red"})
					.html(isConnected ? "connected" : "disconnected")
			}

			this._onNewStrategy = function(newStrategyInfo) {
				strategies.add(
					newStrategyInfo.uid,
					newStrategyInfo.account,
					newStrategyInfo.baseCurrency,
					newStrategyInfo.tradeSize,
					newStrategyInfo.tradeSizeInBase,
					newStrategyInfo.symbol1,
					newStrategyInfo.symbol2)
			}

			this._onStrategyUpdate = function(strategyInfo) {
				strategies.update(
					strategyInfo.uid,
					strategyInfo.s1,
					strategyInfo.s2)
			}

			self._isFullUpdateRequired = true

		}

		theService.start()

	</script>

{% endblock %}
